
.container {
    margin: 5%;
}
body {
    background-image: url(images/pink-clouds.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Georgia, serif;
    font-size: 23px;
    margin: 70px;
}
.under {font-size: 23px;}

a {color: black;}

#space {text-indent: 2rem;}

footer {
   text-align: right;
   font-size: 18px;
}